# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
venv/
.env

# VS Code
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Frontend build
/dist/
/build/
